html, body {
  height: 100%;
  width: 100%;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  overflow-X: hidden;
  font-family: 'Poppins', sans-serif;
}

header {
  width: 100%;
}

.navbar {
  background-color: #ccc;
  width: 100%;
  height: 3em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  margin-bottom: 50px;
}

.navbar a {
  text-decoration: none;
}

.navbar div.about {
  display: inline-block;
  background-color: aquamarine;
  border: 1px solid aquamarine;
  padding: 9.6px;
}


div.about a {
  color: black;
  font-size: 17px;
}

div.about a:hover {
  color: red;
}

div.about a:visited {
   color: #8c1515;
}

.navbar div.others {
  display: inline-block;
  padding: 9.6px;
}

div.others a {
  color: black;
}

div.others a:hover {
  color: red;
}

div.others a:visited {
  color: #8c1515;
}

.main-section {
  background-color: black;
  padding: 0 5%;
  justify-content: space-between;
  gap: 65px;

}

.main-content {
  display: flex;
}

.left, .right {
  flex: 50%;
  flex-basis: 50%;
  flex-grow: 1;
}

.main-section .left h5 {
  font-size: 40px;
  margin: 190px 0 10px 90px;
  color: white;
  font-family: 'Merriweather', serif;
}

.main-section .left p {
  font-size: 15px;
  color: white;
  margin-left: 90px;
  font-family: 'Mukta', 'Lora';
}

.right {
  display: block;
}

.right img {
  display: block;
  margin: auto;
}

img {
  padding-top: 60px;
}

footer{
    background-color: #ccc;
    height: 3em;
}

footer .footer-bottom{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

footer .rights-reserved p{
    color: black;
    padding-top: 10px;
    align-items: center;
}

footer .socials ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-top: 10px;
}

footer .socials li{
    list-style: none; 
}

footer .socials li a {
color: black;
}

footer .socials li i{
    font-size: 8px;
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px;
    transition: .2s ease-in-out;
}

footer .socials li i:hover{
    font-size: 10px;
    cursor: pointer;
    font-size: 9px;
}




